<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>date</key>
		<string>August 1st</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 2nd</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 3nd</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 4th</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 5th</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 6th</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 7th</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 8th</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 9th</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 10th</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 11th</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 12th</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 13th</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 14th</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 15th</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 16th</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 17th</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 18th</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 19th</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 20th</string>
	</dict>
</array>
</plist>
