<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>date</key>
		<string>August 1st</string>
		<key>body</key>
		<string>爱读书的姑娘都好看</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 2nd</string>
		<key>body</key>
		<string>所谓的彩虹 不过就是光 只要心还透明 就能折射希望</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 3nd</string>
		<key>body</key>
		<string>黑人司机载了一对白人母子，儿孩问：“为什么司机伯伯的肤色和我们不同？”母亲答：“上帝为了让世界缤纷，创造了不同颜色的人。”到目的地黑人司机坚持不收钱，他说：“小时曾问过母亲同样问题，母亲说我们是黑人，注定低人一等，如果她换成你的回答，今天我定会有不同的成就。” 
下车后孩子笑道：妈妈。每次坐黑鬼的车都能省不少钱呢</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 4th</string>
		<key>body</key>
		<string>她睁开眼，昨夜的醉意已经褪去。发现床是自己的，家是自己的。而陌生男人已经穿好衣服正要开门而去。她突然有些忧伤，即脱口而出：我还不知道你的名字呢。男人回头，温柔笑道：就叫我雷锋吧… 
她发现桌上还有他遗忘的红领巾：诶！你的红领巾！男人转头狐媚一笑：是你的红领巾。
</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 5st</string>
		<key>body</key>
		<string>大概每个姑娘都会有忧心自己嫁不出去的时候，但是没关系，不要在意这个。你只需要安心过好现在的生活，做自己喜欢的事，成为自己喜欢的人，然后，
－－－－－－－－
十年后你就会发现———你担心的事原来是真的。</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 6th</string>
		<key>body</key>
		<string>她的告白遭到他的婉拒。她淡笑，对他说:“不就是花了6年时间来喜欢你吗？你放心，不用6天我就可以放弃了。祝你幸福！”转身离开，她的眼泪瞬间夺眶而出，只有自己心里清楚，有些人，一旦刻在内心深处了，就算你用60年的时间也可能无法忘怀。 
而他望着她那200公斤的离去的背影。缓缓的舒了一口气。</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 7th</string>
		<key>body</key>
		<string>”我回来了”，他放下包，她躺在沙发上，一贯的优雅。“不辛苦的。”他从她明亮的双眼里看出她要说什么，而她，出生那天起就不能说话。“有你就够了。”他握住她的手，亲了亲她红扑扑的脸蛋。他搂了搂她，心中柔情似水。。。。“乖，我去吃面啦,吃完面就给你充气。”
</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 8th</string>
		<key>body</key>
		<string>吊死给女朋友发短信：“你喜欢骑自行车吗？” 
半分钟后她回道：“你很在乎这个么？那分手吧！”</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 9th</string>
		<key>body</key>
		<string>男友单膝下跪，向我求婚。我感动得快哭了，心想这个傻子会给我买怎样的戒指？
丧失。。。那货居然从兜里掏出个套套，要套到我jj上。</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 10th</string>
		<key>body</key>
		<string>女：我们分手吧。 男：为什么？
女：考试考完了，不用你在图书馆抢位置了。
男：哦，可是我有两张春运的火车票。 女：讨厌，其实人家和你开玩笑的。。。</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 11th</string>
		<key>body</key>
		<string>他和她搬到了一个小公寓，只有一个洗澡间，冬天洗澡很冷。他发现，如果一个人先洗的话浴室就会暖和，所以每次他都第一个冲进浴室。他想，等她进去浴室时，至少暖和一两度吧。他不能给她舒适的生活，不能带她去高级餐厅，不能给她买漂亮的衣服，但至少，他还能给她1℃的爱情。。。后来她装了套浴霸，就和他分手了 。</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 12th</string>
		<key>body</key>
		<string>一对情侣相爱多年,女生要去外国念书.说,我要出国十年,要不分手吧.男生哭着写了一张纸条塞给女生,说,如果你愿意等我十年的话,十年后再打开这张纸条.女孩深受感动,心里暗许要单身十年.终于,十年后,女孩还是单身,她打开字条,泪流满面,上面写着:哈哈哈傻x,我tm逗你玩呢</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 13th</string>
		<key>body</key>
		<string>她紧张的拉着他的手“老公，你喜欢男孩还是女孩”“我都喜欢，如果是女孩，我保护你们娘俩，如果是男孩，我们爷俩保护你” 她眼里噙着泪花！“还有，如果是双胞胎，那就刚好凑一桌麻将啦” 噗哧，她笑了！他目送着护士将她推进去。最好是个女孩，他心想。把口袋里那张不育症诊断书又攥紧了些。。。</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 14th</string>
		<key>body</key>
		<string>很多普通的男生，在二十出头这段最艰难最需要拼搏的时节里，常常遇到挫败。败给所谓的高富帅，所谓的“二代”。因为看不到方向，很多人就这样失去了信心。但其实人生很长，你并没输，只要你做好自己，把握现在，永不放弃，多做好事，行善积德，来生一定可以投胎成富二代的。</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 15th</string>
		<key>body</key>
		<string>走出考场的时候，她哭的一塌糊涂。考生们都目瞪口呆的看着这么一个漂亮的女孩子哭的梨花带雨。他不顾旁人的眼光，一把揽过她，凶狠狠的说，“再哭我就当众吻你。她哭的更厉害了，“数学好难，我们不能上同一所大学了啦。”“笨蛋，就知道你不会，后面的大题我都没做。”后来他考上了蓝翔，而她妈送她去国外读大学了。</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 16th</string>
		<key>body</key>
		<string>我开到一条窄路上，前面一男一女两个学生在路上并肩而行。男生几次想去牵女生的手，伸出去又缩回来。我鸣了下笛，男生心领神会，手很自然地搂住女生肩头，拉到路边，头略微偏过去，大概在说：小心车。我车开过去，后视镜里看到他们已经手牵着手。祝他们幸福，以及以后不要走机动车道。 
女学生：你看前面那个开车的人好奇怪啊。男学生：是啊。。。。。好像一只狗啊。。</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 17th</string>
		<key>body</key>
		<string>他和她相遇在战火纷飞的年代，因为他做机密收接工作，上级特别安排了她解决婚姻问题，一个聋哑姑娘。他见到她时便深深爱上，即便她不能讲话。可他觉得正当幸福的时候，却被敌对方抓获，严刑逼供时，她哭着来看他，他吃力的说，想最后能听听她讲话，她哽咽的说：“原谅我”。
听到这浑厚略带沙哑的男声，他喷血而亡。</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 18th</string>
		<key>body</key>
		<string>晚 上公猪总为母猪放哨，生怕主人将母猪宰了，日子飞逝,母猪变胖.它听见主人商量要把母猪杀了卖掉.自那天公猪性情大变，主人送来食物它抢着吃，吃完就睡并 要母猪守夜.母猪很失望.主人发现母猪没剩几斤了,而公猪油光发亮，终于屠户把公猪拖走。那一刻，公猪笑着对母猪说“以后少吃点”!
公猪走后，母猪因为营养不够抵抗力下降死于猪瘟。</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 19th</string>
		<key>body</key>
		<string>公交上，乘务员广播：“前方急转弯，请注意。” 我灵机一动，向后方我盯了一路的萌妹子步步逼近，打算在她失去平衡时，以一个优雅的华尔兹造型轻挽入怀，趁其脸红时在耳畔低语：“不要紧吧。” …可刚走到一半车就拐了，我眼看要摔，旁边大叔一把抱住我：“小伙子没事儿吧？”当时，大叔的眼睛特别亮。</string>
	</dict>
	<dict>
		<key>date</key>
		<string>August 20th</string>
		<key>body</key>
		<string>三个男孩同时追一个女孩，女孩说，你们旅游全世界回来，我再选择，第一个男孩去了欧洲，美洲，非洲，第二个男孩去了澳洲，第三个男孩回到女孩身边，绕着女孩走了一圈并说，你是我的全世界。女孩非常感动，留着泪，选择了他们之中去过最多地方的那个
</string>
	</dict>
</array>
</plist>
